<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body id="body" class="container">
    <div id="animation_container" style=" width:603px; height:529px">
		<canvas id="canvas" width="603" height="529" style="position: absolute; display: block; "></canvas>
		<div id="dom_overlay_container"
			style="pointer-events:none; overflow:hidden; width:603px; height:529px; position: absolute; left: 0px; top: 0px; display: block;">
		</div>
	</div>
    <script src="js/index.js"></script>

</body>
</html>